[submodule "google_homepage"]
	path = google_homepage
	url = https://github.com/garou357/google_homepage.git
[submodule "404-not-found"]
	path = 404-not-found
	url = https://github.com/garou357/404-not-found.git
